<p id="notice"><%= notice %></p>

<p>
  <strong><h3>Name:</h3></strong>
  <h2><%= @course.name %></h2>
</p>

<p>
<<<<<<< HEAD
  <strong><h3>Code:</h3></strong>
  <h4><%= @course.code %></h4>
</p>

<p>
  <strong><h3>Semester:</h3></strong>
  <h4><%= @course.semester %></h4>
</p>

<p>
	<strong><h3>Week 1</h3></strong>
	<h4>Proposition, Connectives and Truth Tables</h4>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/c4bhxylX_jI" frameborder="0" allowfullscreen></iframe>
</p>

<p>
	<br style="margin-bottom:240px;"/>
	<h4> Truth table and Logical Connectives</h4> 
	<iframe width="560" height="315" src="https://www.youtube.com/embed/i3m0hV157Ro" frameborder="0" allowfullscreen></iframe>
</p>

<p>
	<br style="margin-bottom:240px;"/>
	<h4>Khan Academy - Understanding Logical Statements</h4>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/I6hz8mhaRB0" frameborder="0" allowfullscreen></iframe>
</p>

<p>
	<br style="margin-bottom:720px;"/>
	<strong><h3>Week 2</h3></strong>
	<h4>Knights and Knaves</h4>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/tQr7D92Plck" frameborder="0" allowfullscreen></iframe>
</p>

<p>
	<br style="margin-bottom:240px;"/>
	<h4>Truth Tables - Tautology and Contradiction</h4>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/O0KbymjE7xU" frameborder="0" allowfullscreen></iframe>
</p>

<p>
	<br style="margin-bottom:240px;"/>
	<h4>Truth Tables and Disjuctive Normal Form</h4>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/iM9EL5turd4" frameborder="0" allowfullscreen></iframe>
</p>

<p>
	<br style="margin-bottom:240px;"/>
	<h4>Proofs</h4>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/0gflLmuhHOg" frameborder="0" allowfullscreen></iframe>
=======
  <strong>Code:</strong>
  <h3><%= @course.code %></h3>
>>>>>>> fbcf8357031b08f5390baa71d539aa782102be20
</p>