<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <h1><%= @course.name %></h1>
</p>

<p>
  <strong>Code:</strong>
  <h3><%= @course.code %></h3>
</p>

<h1>New Post</h1>
<%= form_for @course_content do |f| %>
    <%= f.hidden_field :course_id, value: @course.id %>

    Name: <%= f.text_field :name %>

    <%= f.submit %>
<% end %>

<h1>Course Content</h1>
<% if @course.course_content.length > 0 %>
     <% @course.course_content.each do |cc| %>
        <p><%= cc.name %></p>
    <% end %>
<% else %>
    <p>There is no content.</p>
<% end %>