<header>
    <%= link_to authenticated_root_path do %>
        <%= image_tag "Logo_Deanlist_white.png" %>
    <% end %>

    <%# Courses list %>
    <% if user_signed_in? %>
        <span class="dropdown">
            <a href="#" data-toggle="dropdown">Courses</a>
            
            <ul class="dropdown-menu">
                <% if @courses.length > 0 %>
                    <% @courses.each do |course| %>
                        <li><%= link_to course.name, course %></li>
                    <% end %>
                <% else %>
                    <li>You have no courses. <%= link_to "Add one now.", new_course_path %></li>
                <% end %>
            </ul>
        </span>
    <% end %>

    <%# Authentication area %>
    <div class="right">
        <% if user_signed_in? %>
            <%= link_to current_user.email, edit_user_registration_path %>
            <%= link_to "Logout", destroy_user_session_path, method: "DELETE" %>
        <% else %>
            <%= link_to "Register now", new_user_registration_path %>
        <% end %>
    </div>
</header>